{% if include.entity.image_height %}
    {% assign image_height = include.entity.image_height %}
{% else %}
    {% assign image_height = "125" %}
{% endif %}

<a href="{{ include.entity.url }}" class="sponsor-logo {{ include.entity.type }}" style="height: {{ image_height}}px;">

    {% if include.entity.image_path %}
        <img src="{{ include.entity.image_path }}"
         {% if include.entity.custom_styles %}
            style="{{ include.entity.custom_styles }}"
         {% endif %}
        />
    {% else %}
        {{ include.entity.name }}
    {% endif %}

</a>
