.page-header {
  h1 {
    margin-top: 0;
    margin-bottom: 0.1rem;

    @include large {
      font-size: 3.25rem;
    }

    @include medium {
      font-size: 2.25rem;
    }

    @include small {
      font-size: 1.75rem;
    }
  }

  h2 {
    margin-bottom: 2rem;
    font-weight: normal;
    opacity: 0.7;

    @include large {
      font-size: 1.25rem;
    }

    @include medium {
      font-size: 1.15rem;
    }

    @include small {
      font-size: 1rem;
    }
  }

  h3 {
    opacity: 0.9;
    font-weight: normal;
  }
}

.site-footer {
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: solid 1px $hr-border-color;
  font-size: 0.8rem;
}

.site-footer-owner {
  display: block;
  font-weight: bold;
}

.site-footer-credits {
  color: $blockquote-text-color;
}

.btn {
  background-color: rgba(255, 255, 255, 0.18);
  font-weight: bold;

  &:hover {
    background-color: rgba(255,255,255, 0.30);
  }
}

.meet-the-team {
  display: flex;
  $imageMargin: 40px;
  margin-top: $imageMargin;

  .meet-the-team-image {
    border-radius: 100%;
    margin-right: $imageMargin;
  }
}
