$blue: rgb(7, 50, 134);
$yellow: rgb(251, 202, 51);
$green: #159957;
$cream: #f9f8f3;

body {
  background-color: $cream;
}

.page-header {
  background-image: linear-gradient(120deg, $blue, $green);

  h1 {
    margin-top: 0;
    margin-bottom: 0.1rem;

    @include large {
      font-size: 3.25rem;
    }

    @include medium {
      font-size: 2.25rem;
    }

    @include small {
      font-size: 1.75rem;
    }
  }

  h2 {
    margin-bottom: 2rem;
    font-weight: normal;
    opacity: 0.7;

    @include large {
      font-size: 1.25rem;
    }

    @include medium {
      font-size: 1.15rem;
    }

    @include small {
      font-size: 1rem;
    }
  }

  h3 {
    opacity: 0.9;
    font-weight: normal;
  }

  a:not(.btn) {
    &,
    &:hover,
    &:active,
    &:visited {
      color: #80d7ff;
    }
  }
}

.social {
  img {
    opacity: 0.8;
    transition: opacity 0.1s;
    margin: 0 4px;

    &:hover {
      opacity: 0.95;
    }
  }
}

.site-footer {
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: solid 1px $hr-border-color;
  font-size: 0.8rem;
}

.site-footer-owner {
  display: block;
  font-weight: bold;
}

.site-footer-credits {
  color: $blockquote-text-color;
}

.btn {
  background-color: rgba(255, 255, 255, 0.18);
  font-weight: bold;

  &:hover {
    background-color: rgba(255,255,255, 0.30);
  }
}

.meet-the-team {
  display: flex;
  $imageMargin: 40px;
  margin-top: $imageMargin;

  .meet-the-team-image {
    border-radius: 100%;
    margin-right: $imageMargin;
  }
}

.main-content h1 {
  font-weight: bold;
}

.main-content {
  h1, h2, h3, h4, h5, h6 {
    color: $blue;
  }
}

.sponsors {
  text-align: center;

  .flagship-sponsors {
    margin: 16px 0 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px 0;
  }

  .sponsor-logo {
    &.sponsor {
      margin: 0 16px;
    }

    &.partner {
      margin: 0 8px;
    }

    img {
      max-height: 100%;
    }
  }

  .flagship-sponsors,
  .image-container.partners {
    @include small {
      flex-direction: column;

      .sponsor-logo {
        margin: 8px 0;
        height: auto !important; // Necessary to override inline height specified by markup

        img {
          min-height: 100px;
          max-height: 125px;
        }
      }
    }
  }
}

.travel-btn {
  &, &:hover {
    color: #073286;
    border: 1px solid #073286;
    background: #e9effb;
  }

  transition: opacity 0.15s;

  &:hover {
    opacity: 0.8;
  }
}
